*{
  padding: 0;
  margin: 0;
  font-family: "inter";
  max-width:1600px ;}
.container{
padding: 0px 120px 120px 120px;
max-width: 1600px;
}

.btn{
padding: 12.5px 16px ;
background-color: #30B868;
border-radius: 8px;
color:white;
font-size: 16px;
font-weight: 600;
border: 0px;
max-width: max-content;
cursor: pointer;
}
.btn .arrow{
  display: flex;
  gap: 10px;
}

.play-btn{
display: flex;
gap:10px;
background-color: transparent;
border: 1px solid white;padding: 12.5px 16px ;
border-radius: 8px;
color:white;
font-size: 16px;
font-weight: 600;
max-width: max-content;
cursor: pointer;
}

.btn:hover{
    color:#006A50;
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(255, 238, 124);
}

.play-btn:hover{
      color:#f3f05e;
    font-size: 16px;
    font-weight: bold;
}

.btn2{
    display: flex;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 500;
    background-color: white;
    color: #30B868;
    border-radius:25px ;
    justify-content: space-between;
    gap: 16px;
    border: 0;
    align-items: center;
}

.three-dot{
    width: 7px;
    height: 7px;
    background-color: #30B868;
    border-radius: 50%;
    box-shadow: 0 0 0 3px#a2c1ae6c;
    border: #8ac49ef6 solid 4px;
}













header{
padding-top: 16px;
padding-bottom: 16px;
max-width: 1600px;
}
.top-header{
  margin-left: 120px;
  margin-right: 120PX;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

nav ul a:hover{
    color:#006A50 ;
    cursor:hand;
}
nav ul{
    display: flex;
    gap: 32px;
    list-style: none;
}
nav ul a{
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
}

.hero-section{
 background-image: url("./assets/hero-bg.png");
 max-width: 1600px;
 height: 674px;
 background-repeat: no-repeat;
 padding: 134px 120px 180px 120px ;
 margin-top: 0px;
}
.button-flex{
  display: flex;
  gap: 16px;
  justify-content: center;
}

.banner-text h1{
  font-size: 70px;
  margin-bottom: 16px;
  text-align: center;
  font-weight: 700;
  font-style: bold;
}
.banner-text p{
  font-size: 16px;
  color: white;
  line-height: 28px;
  margin-bottom: 32px;
  text-align: center;

}
.early-btn{
display: flex;
justify-content: center;
margin-bottom: 16px;
}


